version: '3.3'
services:
  app:
    container_name: app
    hostname: app
    image: arganaphangquestian/api-demo:latest
  nginx:
    container_name: nginx
    hostname: nginx
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 80:80
    depends_on:
      - app